.usershowPage
  .container
    %header.header
      %p.header_logo
        = link_to image_tag("logo.png", width: 100)
    .userInfo
      .userInfo_name= @user.username
    - if current_user.id == @user.id
      .userAction
        .userAction_edit.userAction_common
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "fas fa-cog fa-2x"
