%body
  .container
    .row
      %h2 Some text
      #wrapper
        #sidebar-wrapper
          %ul.sidebar-nav{:style => "margin-left:0;"}
            %li.sidebar-brand
              %a#menu-toggle{:href => "#menu-toggle", :style => "margin-top:20px;float:right;"}
                %i.fas.fa-bars{"aria-hidden" => "true", :style => "font-size:20px !Important;"}
            %li
              %a{:href => "#"}
                %i.fas.fa-user{"aria-hidden" => "true"}
                %span{:style => "margin-left:6px;"} マイページ
            %li
              %a{:href => "#"}
                %i.fas.fa-cog{"aria-hidden" => "true"}
                %span{:style => "margin-left:6px;"} 設定
            %li
              %a{:href => "#"}
                %i.fas.fa-question-circle{"aria-hidden" => "true"}
                %span{:style => "margin-left:6px;"} ヘルプ

        / /#sidebar-wrapper
        / Page Content
        #page-content-wrapper
          .container-fluid
            .row
              .col-lg-12

:javascript
  $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
  });